<h1>コロッケ</h1>

<%= form_for User.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :count %>
  <%= f.text_field :count %>
  <%= f.submit %>
<% end %>

<% @users.each do |user| %>
  <p><%= user.name %></p>
  <p><%= user.count %></p>
<% end %>
